*{
    box-sizing: border-box;
}
body{
    margin:0;
}

.container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas:
    "header header header"
    "left center right"
    "left footer right";
    border: 1px solid red;
    overflow: hidden;
}

.header{
    grid-area: header;
}

.left-sidebar{
    grid-area: left;
}

#main-window{
    grid-area: center;
    margin: auto;
}

.right-sidebar{
    grid-area: right;
}

.footer{
    grid-area: footer;
}

.footer,.right-sidebar,.left-sidebar,.header{
    border: 2px solid black;
}
canvas{
}

@media only screen and (max-width: 1366px) {
    .container{
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "header header"
        "center center"
        "left right"
        "footer footer";
        border: 1px solid red;
    }
}
