*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: RubberB;
    cursor: url("src/cursor/swordCursor.png"), auto;
}

@font-face {
    font-family: RubberB;
    src: url(src/fonts/RUBBBB__.TTF);
} /*Rubber Biscuit font (RubberB) */

/*grid items*/
.header{
    grid-area: header;
}
.left-sidebar{
    grid-area: left;
}
#main-window{
    grid-area: center;
    place-self: center;
}
.right-sidebar{
    grid-area: right;
    text-align: right;
}
.footer{
    grid-area: footer;
}

.footer,.right-sidebar,.left-sidebar,.header{
    border: 2px solid black;
}

.container{
    display: grid;
    grid-template-columns: 19.5% auto 19.5%;
    grid-template-rows: 14% auto 14%;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "left center right"
        "left footer right";

    height: 100vh;
    padding: 10px;
    border: 1px solid red;
    overflow: hidden;

    background: rgb(136,85,156);
    background: linear-gradient(180deg, rgba(136,85,156,1) 0%, rgba(144,89,164,1) 30%, rgba(148,95,169,1) 52%, rgba(98,51,117,1) 88%, rgba(91,47,108,1) 100%);
}
canvas{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    padding:10px;
}

@media only screen and (max-width: 1366px) {
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "center center"
            "left right"
            "footer footer";
    }
}
